/* .meal {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }
  
  .meal h3 {
    margin: 0 0 0.25rem 0;
  }
  
  .description {
    font-style: italic;
  }
  
  .price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: #ad5502;
    font-size: 1.25rem;
  } */
  .form {
    display: block;
    padding: 1rem;
    max-width: 30rem;
    margin: 5rem auto;
    border-radius: 4px;
    
  
    }
    .input-group {
      display: flex;
      justify-content: space-evenly;
      gap: 1.5 rem;
      padding: 2 rem;
    }

    .form label {
      display: block;
      margin-bottom: 0.25rem;
      font: inherit;
      font-size: 2 rem;
      font-weight: bold;
      text-transform: uppercase;
      padding: 1rem;
    }
    
    .form input  {
      display: block;
      margin-bottom: 0.25rem;
      width: 100%;
      padding: 1rem;
      border: 1px solid #8a2b06;
      border-radius: 0.25rem;
      background-color: transparent;
      color: rgb(255, 255, 255);
      font-size: 2 rem;
    }

    
   
  
  .form button {
    font: inherit;
    cursor: pointer;
    background-color: #8a2b06;
    border: 1px solid #8a2b06;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .form button:hover,
  .form button:active {
    background-color: #641e03;
    border-color: #641e03;
  }